body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a{
  color: #333;
  text-decoration: none;
}

h2 {
  font-size: 25px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

#main-header {
  height: 50px;
  background: #333;
  overflow: hidden;
  margin-bottom: 20px;
}

#branding h1 {
  padding: 5px 0 0 70px;
  color: #fff;
  margin: 0;
}

#branding {
  float: left;
  width: 50%;
}

#branding img {
  position: absolute;
  width: 60px;
  height: auto;
}

#main-nav {
  float: right;
  width: 50%;
  padding-top: 12px;
}

#main-nav li {
  float: left;
  padding: 3px 5px 0 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: square;
  color: #fff;
}
#main-nav a {
  color: white;
}
